@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  box-sizing: border-box;
  background-color: #131313;
}
@font-face {
  font-family: "Restora";
  src: url("/fonts/RestoraThinItalic.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "plus";
  src: url("/fonts/PlusJakartaSans-LightItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
html {
  scroll-behavior: smooth;
}
.header-container {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.smallBtn {
  top: 76.5%;
}
